/* Parametric mixins used for title section and team profiles */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*GENERAL STYLES*/
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
header,
body,
footer {
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
nav,
h1,
h2 {
  color: #234099;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
}
h1:hover {
  color: #ff1493;
}
.h1Link {
  text-decoration: none;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 5rem;
  color: black;
}
@media (max-width:500px) {
  h3 {
    font-size: 2.5rem;
  }
}
@media (max-width:800px) {
  h3 {
    font-size: 2.5rem;
  }
}
h4 {
  font-size: 3rem;
  color: #696969;
}
h5 {
  font-size: 1.5rem;
  color: grey;
}
a {
  font-size: 2rem;
  color: #234099;
}
.blue {
  color: #0000ff;
}
.pink {
  color: #ff1493;
}
.titleButton {
  color: white;
  background-color: #234099;
}
.figCaption {
  font-size: 1.5rem;
}
.roundImages {
  border-radius: 50%;
}
.copyright {
  font-size: 0.75rem;
  color: grey;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 16px;
}
/* Top of the page has background image, company logo, nav bar that includes mobile/tablet responsive design. Uses Google Keep design as base for reference. */
header {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/img/wunderlist3-pic-1.jpg");
  background-size: 100% auto;
  /* IDs are given for the hamburger menu icon for mobile/tablet designs. */
  /* Upper top content contains company tagline and call to action button */
}
@media (max-width:500px) {
  header {
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width:800px) {
  header {
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
  }
}
header .titleSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 20px;
}
@media (max-width:500px) {
  header .titleSection {
    flex-direction: column;
  }
}
header .titleSection nav {
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width:500px) {
  header .titleSection nav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    line-height: 0.5;
  }
  header .titleSection nav .desktop-nav-items {
    display: none;
  }
}
@media (max-width:800px) {
  header .titleSection nav .desktop-nav-items {
    display: none;
  }
}
header .titleSection nav a {
  margin: 10px;
  text-decoration: none;
}
header .titleSection nav a:hover {
  color: #ff1493;
}
header #menu-button {
  display: none;
  z-index: 100;
}
@media (max-width:500px) {
  header #menu-button {
    right: 4%;
  }
}
@media (max-width:800px) {
  header #menu-button {
    display: flex;
    position: absolute;
    top: 20px;
    right: 4%;
    color: #234099;
    font-size: 2.75rem;
  }
}
header #x {
  display: none;
  z-index: 100;
}
@media (max-width:800px) {
  header #x {
    display: none;
    position: fixed;
    top: 17px;
    right: 4.5%;
    color: white;
    font-size: 2.755rem;
  }
}
header #menu-overlay {
  display: none;
  z-index: 99;
}
@media (max-width:800px) {
  header #menu-overlay {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #234099F2;
  }
  header #menu-overlay a {
    font-size: 4rem;
    line-height: 8rem;
    color: white;
  }
}
header .subTitleSection {
  margin-top: 150px;
  text-align: center;
  vertical-align: center;
  align-items: center;
  justify-content: center;
}
@media (max-width:800px) {
  header .subTitleSection {
    margin-top: 350px;
  }
}
@media (max-width:500px) {
  header .subTitleSection {
    margin-top: 275px;
  }
}
header .subTitleSection .titleButton {
  margin-top: 30px;
  padding: 16px;
}
header .subTitleSection .titleButton:hover {
  background-color: #ff1493;
  color: black;
}
/* Includes an image and two lines of words that summarize company products. */
body {
  text-align: center;
}
body h4 {
  padding-top: 30px;
  padding-bottom: 15px;
}
body h5 {
  padding-bottom: 50px;
}
@media (max-width:500px) {
  body img {
    width: 100%;
  }
}
@media (max-width:800px) {
  body img {
    width: 100%;
  }
}
/* Bottom content is an image to market the iOS app with marketing wording on hover. */
.hover-box,
.hover-box * {
  box-sizing: border-box;
}
.hover-box {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.hover-box img {
  max-width: 100%;
}
.hover-box .hover-box-layer-bottom {
  display: block;
}
.hover-box .hover-box-layer-top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 7.5rem;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hover-box:hover .hover-box-layer-top,
.hover-box-layer-top {
  opacity: 1;
}
.hover-box .hover-box-text {
  text-align: center;
  font-size: 10rem;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width:500px) {
  .hover-box .hover-box-text {
    font-size: 5rem;
    border-top: 1px solid #b3b3b3;
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
  }
}
