/* Top of the page has company logo and navigation bars, and includes mobile/tablet responsive design */

.titleSection {
  .titleSectionMixin(flex, row, space-between, center, @margin: 0 20px, 20px);

  @media @mobile {
    flex-direction: column;
  }

  nav {
    justify-content: space-evenly;
    align-items: center;

    @media @mobile {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      line-height: 0.5;
    
    .desktop-nav-items {
        display: none;
    }
  }

  @media @tablet {
      .desktop-nav-items {
          display: none;
      }
  }

    a {
      margin: 10px;
      text-decoration: none;

      &:hover {
        color: @missionColorPink; 
    }

    }
  }
}

 /* IDs are given for the hamburger menu icon for mobile/tablet designs. */

#menu-button {
    display: none;
    z-index: 100;

    @media @mobile {
        right: 4%;
    }

    @media @tablet {
        display: flex;
        position: absolute;
        top: 20px;
        right: 4%;
        color: @mainBlueColor;
        font-size: 2.5rem;
    }
}

#x {
    display: none;
    z-index: 100;

    @media @tablet {
        display: none;
        position: fixed;
        top: 17px;
        right: 4.5%;
        color: @whiteFontColor;
        font-size: 2.5rem;
    }
}

#menu-overlay {
    display: none;
    z-index: 99;

    @media @tablet {
        display: none;
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        background-color: #234099F2;
            a {
                font-size: 4rem;
                line-height: 8rem;
                color: @whiteFontColor;
            }
    }
}


/* Top content sets the company mission statement */

h3 {
  text-align: center;
  padding: 100px;
  line-height: 1.5;

  .blue {
    display: flex;
    flex-direction: column;
  }

  .pink {
    display: flex;
    flex-direction: column;
  }
}

/* The Team section is divided into two classes to make two lines on desktop, and single profile on mobile/tablet */

body {

  h2 {
    text-align: center;
    padding: 20px;

    @media @mobile {
      font-size: 2.5rem;
    }

    @media @tablet {
      font-size: 2.5rem;
    }
  }

  .teamPartOne {
    .teamMixin(flex, row, space-evenly, 50px);

    @media @mobile {
      flex-direction: column;
      align-items: center;
    }

    @media @tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  .teamPartTwo {
    .teamMixin(flex, row, space-evenly, 50px);
    padding-bottom: 50px;

    @media @mobile {
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
    }

    @media @tablet {
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
    }
  }

  /* The figure caption is used to set the right name, image and social media links to the respective team members */

  .figCaption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

#my-pic {
  width: 95%;
  height: 85%;
  object-fit: cover;
}
    

