body {
    text-align: center;

    h4 {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    h5 {
        padding-bottom: 50px;
    }
}

footer {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 16px;
}