body {
    text-align: center;

    h4 {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    h5 {
        padding-bottom: 50px;
    }

    img {
        @media @mobile {
            width: 100%;
        }

    }
}